<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>966720256205-jjca21nlumheendjhdqjernrfjkint6j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.966720256205-jjca21nlumheendjhdqjernrfjkint6j</string>
	<key>API_KEY</key>
	<string>AIzaSyBWy-wrh6iE_q3ZovsO21u57a-cVqB4l5Q</string>
	<key>GCM_SENDER_ID</key>
	<string>966720256205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appForFamilyBackup</string>
	<key>PROJECT_ID</key>
	<string>podsticarijumaplikacija</string>
	<key>STORAGE_BUCKET</key>
	<string>podsticarijumaplikacija.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:966720256205:ios:b546e6e5ec31042f95d184</string>
</dict>
</plist>